// COLORS
$grey-color: #333;
$white-color: rgba(250,250,250,.9);

// NAVIGATION COLORS
$nav-background: $grey-color;
$nav-color: $white-color;

// CLOCK VARIABLES
$clock-text-color : white;
$clock-bg-color : rgba(249, 114, 72, 1);
$clock-border-color : darken($clock-bg-color , 10%);
